:80 {
	handle /auth/* {
		reverse_proxy http://auth:80
	}

	handle /api/* {
		reverse_proxy http://example_backend:80
	}

	handle {
		root * /www
		encode gzip
		try_files {path} /index.html
		file_server
	}
}
